[Desktop Entry]
Icon=caffeine
Name=Caffeine Plus
Comment=Temporarily deactivate the screensaver and sleep mode
Exec=/usr/bin/caffeine-plus
Terminal=false
Type=Application
Categories=Utility;TrayIcon;
Keywords=Screensaver,Power,Saving,Blank
OnlyShowIn=GNOME;Unity;
StartupNotify=false
